@import url('https://fonts.googleapis.com/css?family=Carter One');
#myProgress {
  width: 70%;
  background-color: #969696;
  margin: auto;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #009999;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 15px;
}

#title {
  text-align: center;
  font-size: 30px;
  font-family: 'Carter One';
  height: 60px;
}

#return, #return_cancelled {
  text-align: center;
  font-size: 25px;	
  height: 60px;
  margin: 50px;
}

#return_cancelled {
	display: none;
}