@import url(https://fonts.googleapis.com/css?family=Quicksand);

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #44697e;
    color: white;
	text-align: center;
}
input[type=text]::-webkit-input-placeholder {
	color: #ECECEC;
	text-align: center;
}
input[type=date] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #44697e;
    color: white;
	text-align: center;
}
::-webkit-scrollbar {
width: 6px;
background: #444;
}
::-webkit-scrollbar-track {
border-left: 1px solid #000;
}
::-webkit-scrollbar-thumb {
background: #222;
    -webkit-box-shadow: inset 0 0 6px #222;
}
::-webkit-scrollbar-thumb:hover {
background: #222;
    -webkit-box-shadow: inset 0 0 6px #222;
}
::-webkit-scrollbar-thumb:window-inactive {
background: #222;
} 

.fa, .far, .fas {
    font-family: 'Quicksand';
}

body {
	background: linear-gradient(rgba(20, 26, 35,0.55),rgba(20, 26, 35, 0.55)),
				url("../images/tlo-waterblock.png") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Quicksand';
	margin: 0;
	position:relative;
}

html, body {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	flex-direction: column;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 3px;
}

/* = LISTA ROZWIJANA = */
ol {
	list-style-type:none;
	padding:0;
	margin:0;
	height:2em;
}

ol > li {
	float:left;
	width:150px;
	margin-left:1px;
	height:2em;
}

ol > li:hover {
	background-color: rgba(0, 0, 0, 0.3);	
}

ol > li:hover > a {
	background-color: rgba(0, 206, 209, 0.3);	
}

ol > li:hover > ul {
	display:block;
}

ol > li > ul {
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
}

ol > li > ul > li {
	background-color: rgba(0, 0, 0, 0.7);	
	width:150px;
}

ol > li > ul > li > a {
	border-top:1px solid #222;
	font-size: 12px;
	text-align: justify;

}

ol > li > ul > li:hover {
	background-color: rgb(0,0,0,0.7);
}

ol > li > ul > li:hover > a {
	background-color: rgb(0,0,0,0.7);
	color: white;
	display: block;
}

/* ======= */

.center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	flex-direction: column;
	align-items: center	
}

.container {
	justify-content: center;
	text-align: center;
	flex: 1 0 auto;
	padding: 5%;
	position: static;
}

.alert {
	background-color: rgba(255,0,0, 0.5);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 20px;
	text-align: center;
}

.alert-rozowy {
	background-color: rgba(240,128,128, 0.5);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 20px;
	text-align: center;
}

.alert-zielony {
	background-color: rgba(0,255,15, 0.5);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 20px;
	text-align: center;
}

.alert-zolty {
	background-color: rgba(255,165,0, 0.5);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 20px;
	text-align: center;
}

.info {
	background-color: rgba(0,230,250, 0.5);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 20px;
	text-align: center;
}

.opis-info {
	background-color: rgba(0, 0, 0, 0.3);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 15px;
	text-align: center;
}

.licznik-graczy {
	color: #ECECEC;
	margin-left: 3px;
	position: relative;
	font-size: 19px;
	width: 55%;
	padding: 1%;
    font-weight: 400;
	text-align: center;
	font-weight: bold;
}

.tlo-ciemne {
	background-color: rgba(0, 0, 0, 0.2);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 15px;
	text-align: center;
}

.napis-ip {
    text-align: justify;
	position: relative;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 35px;
    padding-right: 35px;
	margin-top: -26px;
	margin-bottom: 85px;
	margin-left: 5px;
}

a{
	color: #ddd;
	transition: 0.3s;
}

a:hover{
	color: #bbb;
	transition: 0.3s;
}

.logo img {
	width: 225px; /* Change image size for mobile */
	-webkit-animation-name: logo;
	        animation-name: logo;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}


@-webkit-keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

/* BOX */

.box {
    background: rgb(0,250,250);
    left: -304px;
    padding: 1px 1px 1px 0px;
    position: fixed;
    top: 370px;
    transition: transform 0.4s;
    width: 300px;
	color: white;
}

.box:hover {
    transform: translateX(304px);
}

.box .box__content {
    background: rgba(0,0,0,0.8);
    min-height: 50px;
    padding: 30px;
    position: relative;
}

.box .box__title {
    background: rgba(0,250,250,0.3);
    border: 1px solid aqua;
    font-size: 15px;
	padding-top: 17px;
	margin-top: 11px;
	font-weight: bold;
    height: 66px;
	width: 1070px;
    line-height: 30px;
    position: absolute;
    right: -106px;
    text-align: center;
    top: center;
    transform: rotate(-90deg);
    width: 146px;
}

/* */

.playercount {
	display: inline-block;
	margin: 20px 15px 0 15px;
	padding: 2px 0;
	background-color: rgba(0, 206, 209, 0.3);
	font-size: 1em;
	color: white;
	text-align: center;
	border-radius: 5px 0 5px 0;
	line-height: 27px;
}

.playercount > p > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	background: rgba(9, 150, 158, 0.7);
	margin: 0 2px;
}

.extrapad {
	padding: 0;
}

.ip {
	cursor: pointer;
}

.items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 30px 0 20px 0;
}

.items-sklepik {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 10px 0 10px 0;
	margin-bottom: 9px;
	background-color: rgb(0,0,0,0.2);
}

.item img {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom: 7px;
}

.item img:hover {
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
}

.img {
	width: 80%;
}

.title {
	font-weight: bold;
	font-size: 17px;
	color: white;
}

.subtitle {
	color: #cfcfcf;
	font-size: 12px;
}

.title,
.subtitle {
	margin: 0;
	padding: 0;
}


@media(min-width: 400px) {
	.logo img {
		width: 290px; /* Change image size for mid sized devices */
	}

	.playercount {
		margin-top: 30px;
		padding: 5px;
	}

	.playercount > p > span {
		padding: 2px 7px;
	}
}

@media(min-width: 1250px) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 15px;
	}

	.logo img {
		width: 470px; /* Change image size for desktop */
	}

	.logo {
		margin-bottom: 28px;
	}
	.img {
		width: 100%;
	}
	.playercount {
		font-size: 1.22em;
		padding: 10px;
	}

	.extrapad {
		padding: 0 42.5px;
	}

	.playercount > p > span {
		padding: 4px 7px;
	}
}

@media(min-width: 1000px) {
	.items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.item:not(:first-child) {
		margin-left: 90px;
	}
}



/*NAV*/
.logo {
  padding: 5px;
  float: left;
  width: 65px;
  height: 65px;
}

.text-logo {
  font-size: 30px;
  padding: 3px; 
  float: left;
}

nav{
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  padding: 0px 15%;
  height: 65px;
  font-weight: 600;
  z-index: 1;
  flex: 1 0 auto;
}

section{
  background-image: url(../img/background.png);
  background-size: cover;
  width: 100%;
  height: 800px;
}


nav li a:hover{
  background: rgba(0, 206, 209, 0.7) !important;
  color: white;
}

.navcolor {
  background: rgba(0, 0, 0, 0.75);
  opacity: 50%;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.fa, .fab {
    font-size: 25px !important;
	vertical-align: -15%;
	padding-right: 5px;
}
.target {
	background-color: rgba(0, 206, 209, 0.3);	
}

.target2 {
	/*background-color: rgba(0, 206, 209, 0.3);*/
	padding-left: 5px;
	padding-right: 8px;
}

.sklep-napis {
    text-align: justify;
	position: relative;
    color: white;
    font-weight: bold;
    font-size: 18px;
	text-transform: uppercase;
    border: 1px aqua solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
	margin-top: -26px;
	margin-bottom: 85px;
	margin-left: 5px;
	transition: 0.6s;
}

.sklep-napis:hover {
    color: white;
	background-color: rgba(0,250,250,0.3);
	transition: 0.6s;
}

.pole-klikniete {
    color: white;
	background-color: rgba(0,50,50,0.8);
	transition: 0.6s;
}

.info-brak {
    text-align: center;
    justify-content: center;
    color: #5199FF;
    font-weight: bold;
	text-shadow: 2px 5px 5px black;
    font-size: 40px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 50px;
}

/* FOOTER */
#myFooter {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	width: 100%;
	flex-shrink: 0;
	bottom: 0;
	position: fixed;
}

#myFooter .footer-copyright{
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 2px;
}

#myFooter .footer-copyright p{
	margin:3px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 6px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 14px;
	padding-bottom: 18px;
}

#myFooter .social-networks a{
    font-size: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 5px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .yt:hover{
	color:#ef1a1a;
}

#myFooter .discord:hover{
	color: #00aced;
}




/*
======================
               MOBILNE
======================
*/


@media screen and (max-width: 768px) {
body {
	background-color: red;
	background-size: cover;
	font-family: 'Quicksand';
	margin: 0;
	position: relative;
}

html, body {
	min-height: 800px;
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	flex-direction: column;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 3px;
}

.container {
	text-align: center;
	flex: 1 0 auto;
	padding-top: 10%;
}

.alert {
	background-color: rgba(255,0,0, 0.5);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 20px;
	text-align: center;
}



.info {
	background-color: rgba(0,230,250, 0.5);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 20px;
	text-align: center;
}

.opis-info {
	background-color: rgb(0,0,0,0.3);
	color: #ECECEC;
	margin: 10px 1;
	position: relative;
	border-radius: 1px;
	width: 100%;
	padding: 1%;
    font-weight: 400;
    font-size: 15px;
	text-align: center;
}

a{
	color: #fff;
}

a:hover{
	color: #777;
	transition: 0.3s;
}

.logo img {
	width: 225px; /* Change image size for mobile */
	-webkit-animation-name: logo;
	        animation-name: logo;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}


@-webkit-keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

.playercount {
	display: inline-block;
	margin: 20px 15px 0 15px;
	padding: 2px 0;
	background-color: rgba(0, 206, 209, 0.3);
	font-size: 1em;
	color: white;
	text-align: center;
	border-radius: 5px 0 5px 0;
	line-height: 27px;
}

.playercount > p > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	background: rgba(9, 150, 158, 0.7);
	margin: 0 2px;
}

.extrapad {
	padding: 0;
}

.ip {
	cursor: pointer;
}

.items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 30px 0 20px 0;
}

.items-sklepik {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 10px 0 10px 0;
	margin-bottom: 9px;
	background-color: rgb(0,0,0,0.2);
}

.item img {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom: 7px;
}

.item img:hover {
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
}

.img {
	width: 80%;
}

.title {
	font-weight: bold;
	font-size: 17px;
	color: white;
}

.subtitle {
	color: #cfcfcf;
	font-size: 12px;
}

.title,
.subtitle {
	margin: 0;
	padding: 0;
}


@media(min-width: 400px) {
	.logo img {
		width: 290px; /* Change image size for mid sized devices */
	}

	.playercount {
		margin-top: 30px;
		padding: 5px;
	}

	.playercount > p > span {
		padding: 2px 7px;
	}
}

@media(min-width: 1250px) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 15px;
	}

	.logo img {
		width: 470px; /* Change image size for desktop */
	}

	.logo {
		margin-bottom: 28px;
	}
	.img {
		width: 100%;
	}
	.playercount {
		font-size: 1.22em;
		padding: 10px;
	}

	.extrapad {
		padding: 0 42.5px;
	}

	.playercount > p > span {
		padding: 4px 7px;
	}
}

@media(min-width: 1000px) {
	.items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.item:not(:first-child) {
		margin-left: 90px;
	}
}



/*NAV*/
.logo {
  padding: 5px;
  float: left;
  width: 353px;
  height: 353px;
}

.text-logo {
  font-size: 30px;
  padding: 3px; 
  float: left;
}

nav{
  position: fixed;
  width: 100%;
  top: 0;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 65px;
  font-weight: 600;
}

section{
  background-image: url(../img/background.png);
  background-size: cover;
  width: 100%;
  height: 800px;
}


nav li a:hover{
  background: #81D4FA;
  color: white;
}

.navcolor {
  background: rgba(0, 0, 0, 0.75);
  opacity: 50%;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.fa, .fab {
    font-size: 25px !important;
	vertical-align: -15%;
	padding-right: 5px;
}

/* FOOTER */
#myFooter {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	width: 100%;
	flex-shrink: 0;
	bottom: 0;
	position: absolute;
}

#myFooter .footer-copyright{
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 2px;
}

#myFooter .footer-copyright p{
	margin:3px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 6px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 14px;
	padding-bottom: 18px;
}

#myFooter .social-networks a{
    font-size: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 5px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .yt:hover{
	color:#ef1a1a;
}

#myFooter .discord:hover{
	color: #00aced;
}
}

/* KOLOROWE TŁO rgba(255,0,0, 0.5)*/
.rainbow {
  background-color: rgba(204,0,51, 0.5);
  animation: bgColor 20s infinite linear;

}
@keyframes bgColor {
  10% {
    background-color: rgba(255, 0, 51, 0.5);/*#CC0033; */
  }
  20% {
    background-color: rgba(255,153,0, 0.5);/*#FF33FF;*/
  }
  30% {
    background-color: rgba(255,255,0, 0.5);/*#CCCC33;*/
  }
  40% {
    background-color: rgba(124,179,66, 0.5);/*#5F9F9F;*/
  }
  50% {
    background-color: rgba(0,229,255, 0.5);
  }
  60% {
    background-color: rgba(1,87,155, 0.5);/*#FF33FF;*/
  }
  70% {
    background-color: rgba(106,27,154, 0.5);/*#FF33FF;*/
  }
  80% {
    background-color: rgba(255,64,129, 0.5);/*#FF33FF;*/
  }
  90% {
    background-color: rgba(255,51,255, 0.5);/*#FF33FF;*/
  }
}
}